/* Common Properties */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
}
ul,ol {
    list-style: none;
}
:root{
    --text: #2F4D5A;
    --footer: #263F49;
    --head: #4B99BC;
    --content: #444444;
    --white: #ffffff;
    --text-2: #111111;
    --text-3:#848484;
    --text-4:#67b0d1;
    --primary-bg:#f4f9fc;
}
.flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.text-align-center{
    text-align: center;
}
.f-14 {
    font-size: 14px;
}
.f-15{
    font-size: 15px;
}
.f-16 {
    font-size: 16px;
}
.f-18 {
    font-size: 18px;
}
.f-20px {
    font-size: 20px;
}
.f-28{
    font-size: 28px;
}
.f-32 {
    font-size: 32px;
}
.f-34{
    font-size: 34px;
}
.f-48{
    font-size: 48px;
}
.text{
    color: var(--text);
}
.text-2{
    color: var(--text-2);
}
.w-20{
    width: 20%;
}
.w-22{
    width: 16.6667%;
    padding: 0 12px;
}
.w-25{
    width: 25%;
    padding: 15px;
}
.w-30{
    width: 30%;
}
.w-33{
    width: 33.3333%;
    padding: 15px;
}
.w-40{
    width: 40%;
}
.w-50{
    width: 50%;
    padding: 15px;
}
.w-100{
    width: 100%;
    padding: 15px;
}
.footer-color{
    color: var(--footer);
}
.header-color   {
    color: var(--head);
}
.content{
    color: var(--content);
}
.white{
    color: var(--white);
}
.text{
    color: var(--text);
}
.text-4{
    color: var(--text-4);
}
.open{
    font-family: 'Open Sans';
}
.raleway{
    font-family: 'Raleway';
}
.padding-40{
    padding: 40px;
}
.padding-testimonials{
    padding: 40px 40px 20px 40px;
}
.padding-60{
    padding-bottom: 60px;
}
.padding-60-20{
    padding-top: 60px;
    padding-bottom: 20px;
}
.padding-team{
    padding-bottom: 100px;
}
.contact-padding{
    padding: 60px 0 65px 0;
}
section{
    overflow: hidden;
}
/* header css */

header .logo span{
    font-size: 24px;
    font-weight: 700;
}
header{
    background-color: #378eb5e6;
    padding: 15px 0;
}
header nav > ul > li > a{
    padding: 8px 15px;
    color: var(--white);
    font-weight: 700;
    margin: 0 5px;
    text-transform: capitalize;
    transition: all 0.5s;
}
header nav ul li:hover a{
    background-color: #ffffff5f;   
    color: var(--content);
} 
header .Dropdown{
    width: 200px;
    background-color: white;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    top: 120px;
}
header  li:hover .Dropdown{
    visibility: visible;
    opacity: 1;
    top: 55px;
}
header .Dropdown  li a{
    padding: 15px 20px;
    display: inline-block;
    font-weight: 600;
}
header .Dropdown .deep{
    position: relative;
}
header .Dropdown li:hover > a{
    color: var(--head);
}
.Dropdown li a i{
    padding-left: 10px;
}
header .Dropdown .deep{
    position: absolute;
    width: 180px;
    left: 80%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    background-color: var(--white);
}
header .Dropdown li:hover .deep{
    opacity: 1;
    visibility: visible;
    left: 100%;
}
.megamenu{
    width: 1140px;
    position: absolute;
    background-color: var(--white);
    left: 0;
    right: 0;
    margin: auto;
    top: 120px;
    border-radius: 5px;
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
}
.megamenu ul li h4{
    font-size: 16px;
    padding: 0px 30px;
    padding-bottom: 15px;
    font-weight: 600;
}
.megamenu ul li a{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 600;
}
header ul li:hover .megamenu{
    visibility: visible;
    opacity: 1;
    top: 63px;
}
header ul li .megamenu li:hover > a{
    color: var(--head);
}
.toggle-menu i{
    color: var(--white);
    font-size: 25px;
    display: none;
}

/* Banner section */
.banner-bg{
    background-image: url(../img/hero-bg.jpg);
    height: 100vh;
}
.banner-bg h1{
    font-size: 64px; 
    text-shadow:-1px 0 2px #2f4d5a;
    font-weight: 700;
}
.banner-overlay{
    background-color: #49788c27;
    padding: 160px 0px;
    height: 100vh;
}
.banner-bg i{
    margin-top: 60px;
    width: 64px;
    height: 64px;
    font-size: 22px;
    border: 2px solid var(--white);
    border-radius: 100%;
    line-height: 54px;
    transition: all 0.5s;
    text-align: center;
}
.banner-bg i:hover{
    background-color: #ffffff31;
    line-height: 64px;
}
.banner-bg p{
    text-shadow:-1px 0 2px #2f4d5a;
    font-size: 20;
    font-weight: 700;
}
/* About Us */
/* w-40 */
.about-bg::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba(255, 255, 255, 0.757);
    z-index: -1;
}
.about-bg {
    position: relative;
    background-image: url(../img/about-bg.jpg);
    padding: 70px 0;
    z-index: 10;
    background-position: center;
}
.about-bg h3{
    font-weight: 700;
    color: var(--text);
    margin-bottom: 15px;
}
.about-bg .us{
    background-color: var(--head);
    padding: 8px 30px;
    border-radius: 25px;
    border: none;
    color: var(--white);
    margin-top: 15px;
}
.about-bg i{
    padding-left: 10px;
    font-size: 13px;
}
.about-bg p{
    font-weight: 600;
    color: var(--content);
    padding: 15px 0;
}
/* w-30 */
.about-bg .w-30{
    padding-left: 30px;
}
.common-pty{
    font-size: 20px;
    color: var(--content);
    font-family: 'Raleway';
}
.about-bg .a-us i{
    font-size: 35px;
    color: var(--head);
    margin-bottom: 15px;

}
.about-bg .a-us p{
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: var(--text-3);
}
.about-bg .about-content{
    padding: 15px 0;
}
/* Services section */

.u-title{
    padding: 35px 0;
    position: relative;
}
 .u-title h1{
    font-size: 32px;
    color: var(--text);
    font-family: 'Raleway';
    padding-bottom: 35px ;
}
.u-title p{
    font-size: 16px;
    font-family: 'Open Sans';
    color: var(--content);
}
.u-title::after{
    position: absolute;
    content: '';
    /* background-image: url(../img/section-title-bg.png); */
    background-repeat: no-repeat;
    width: 20%;
    height: 100%;
    top: -35px;
    left: 50%;
    z-index: -1;
    transform: translate(-50%);
    background-position: center;
}
.content h3{
    color: var(--text-2);
    padding: 25px 0;
    transition: all 0.3s;
}
.content p{
    color: var(--content);
    line-height: 25px;
    transition: all 0.3s ;
}
.content{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 30px;
}
.content .animate__delay-1_7s{
    animation-delay: 1s;
    animation-delay: 1.5s;
    animation-delay: 2s;

}
.content i{
    font-size: 48px;
    transition: all 0.3s;
    color: var(--head);
}
.content::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    transition: all 0.3s;
    background-color: var(--head);
    z-index: -1;
}
.content:hover::after{
    bottom: 0;
}
.content:hover i{
    color: var(--white);
}
.content:hover h3{
    color: var(--white);
}
.content:hover p{
    color: var(--white);
}

/* Back to Top */

html{
    scroll-behavior: smooth;
}
.btp{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--head);
    border-style: none;
    color: var(--white);
    position: absolute;
    bottom: 15px;
    right: 15px;
    position: fixed;
    z-index: 999;
    text-align: center;
}
.btp i{
    line-height: 40px;
}
.btp:hover{
    opacity: 0.8;
}

/* Counter Section */

.counter-section{
    background-color: var(--primary-bg);
}
.counter-section .counter-box i{
    font-size: 44px;
    color: var(--head);
    margin-top: 12px;
    padding-right: 15px;
}
.counter-box{
    padding: 20px;
}
.counter-box span{
    font-weight: 700;
    color: #49788c;
    /* padding: 8px 0 5px 0; */
}
.counter-box p{
    color: #49788c;
}
.counter-content h3{
    color: #2f4d5a;
}

/* Action Section */

.action{
    color: var(--white);
    background-size: cover;
    background: linear-gradient(rgba(103, 176, 209, 0.8), rgba(103, 176, 209, 0.8)),url(../img/cta-bg.jpg) fixed center center;
    padding: 60px 0;
}
.action-content p{
    padding: 15px 0;
}
.act-btn{
    color: var(--white);
    padding: 8px 30px;
    font-weight: 500;
    border: 2px solid rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    border-radius: 25px;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 10px;
}

/* Portfolio Section */

.portfolio-title{
    margin-bottom: 15px;
}
.portfolio-title .w-33{
    margin: auto;
}
.portfolio-title ul a{
    color: var(--text);
    font-weight: 600;
}
.portfolio-title ul a:hover{
    color: var(--head);
}
.portfolio-title ul{
    background-color: #ecf5f9;
    padding: 8px 40px;
    border-radius: 25px;
}
.portfolio-title .all{
    color: var(--head);
}

/* image box */

.image-box{
    position: relative;
    overflow: hidden;
}
.image-main-box .image-box img{
    width: 100%;
}
.image-box .w-50{
    background-color: #88C0DA;
}
.image-box .w-50 i{
    color: var(--white);
}
.icon-box .w-50{
    width: 50%;
    text-align: center;
    padding: 15px;
    transition: all 0.5s;
}
.image-box .icon-box{
    position: absolute;
    content: "";
    width: 100%;
    bottom: -30%;
    transition: all 0.5s;
}
.image-box .icon-box .w-50{
    transition: all 0.s;
}
.image-box:hover .icon-box{
    bottom: 0;
    opacity: 0.8;
}
.image-box:hover{
    opacity: 0.9;
}
.image-box .icon-box:hover{
    background-color: #6EB4D3;
}
.image-box .icon-box .w-50:first-child:hover{
    background-color: #419cc3;
}
.image-box .icon-box .w-50:nth-child(2):hover{
    background-color: #419cc3;
}

/* Testimonials Section */

.Testimonials-section{
    background-color: var(--primary-bg);
}
.Testimonials-section .u-title{
    z-index: 3;
}
.Testimonials-section .content-box i{
    font-size: 26px;
    color: #d5e9f2;
}
.Testimonials-section .content-box p{
    font-style: italic;
    color: var(--content);
    font-weight: 400;
}
.testimonials-content .content-box{
    background-color: var(--white);
    padding: 20px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}
.testimonials-content .content-box::after{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background-color: var(--white);
    bottom: -20px;
    right: 0;
    left: 0;
    margin: auto;
    transform: rotate(45deg);
    z-index: -1;
}
.Testimonials-section .t-img-box img{
    width: 90px;
    height: 90px;
    border-radius: 100%;
}
.Testimonials-section .t-img-box{
    padding: 45px 0;
    text-align: center;
}
.testimonials-content h3{
    color: var(--text-2);
    padding: 10px 0;
}
.testimonials-content h4{
    color: #999999;
    font-weight: 500;
}

/* Team Section  */

.team-image img{
    width: 100%;
}
.team-info p{
    font-size: 13px;
    color: var(--text);
    padding: 10px 0 20px 0;
    font-style: italic;
}
.team-content{
    position: relative;
}
.team-info{
    position: absolute;
    content: "";
    padding: 25px 0;
    background-color: var(--white);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
    top: 80%;
    height: 100px;
    overflow: hidden;
    transition: all 0.3s;
}
.team-info h4{
    position: relative;
    padding-bottom: 10px;
    font-weight: 600;
}
.team-content:hover .team-info{
    height: 140px;
}
.team-info h4::after{
    position: absolute;
    content: '';
    width: 50px;
    height: 1px;
    background-color: var(--text-4);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.team-info i{
    color: #49788c;
    padding: 0 2px;
    transition: all 0.3s;
    font-size: 17px;
}
.team-content .team-info i:hover{
    color: var(--text-4);
}

/* Contact Section */

.contact-section{
    background-color: var(--primary-bg);
}
.contact-section .u-title{
    z-index: 3;
}
.contact-section .location i{
    font-size: 32px;
    width: 52px;
    height: 52px;
    line-height: 52px;
    border: 2px dotted #f0f7fa;
    color: var(--head);
    border-radius: 100%;
    padding: 2px 0;
}
.contact-section .location{
    background-color: var(--white);
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
}
.contact-section .location h3{
    color: #777777;
    font-size: 20px;
    padding: 15px 0;
    font-weight: 700;
}
.contact-section .location p{
    color: var(--content);
}
.form{
    padding: 30px;
    background-color: var(--white);
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
}
.form input{
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid #bbbbbb;
    margin-top: 12px;
}
.form textarea{
    width: 100%;
    padding: 12px 15px;
    margin: 16px 0;
    font-family: 'Open Sans';
    font-size: 14px;
    border: 1px solid #bbbbbb;
}
.form input:focus,.form textarea:focus{
    border-color: var(--head);
}
.form input:nth-child(1),.form input:nth-child(2){
    width: 48%;
}
.form-btn{
    padding: 15px 30px;
    color: var(--white);
    background-color: #419cc3;
    border: none;
    display: block;
    margin: auto;
}

/* Footer */

.footer{
    background-color: var(--footer);
}
.footer-box{
    background-color: var(--white);
    padding: 30px 20px;
    border-top: 5px solid var(--text-4);
    transform: translateY(-110px);
}
.footer .w-33{
    height: 300px;
}
.footer-box h2{
    padding: 0 2px;
    margin-bottom: 20px;
}
.footer-box p,span{
    font-size: 14px;
}
.footer-box span{
    display: inline-block;
}
.footer-box .itl{
    font-style: italic;
    padding-bottom: 16px;
}
.footer-box .address{
    padding-top: 16px;
}
.footer-box .address .f-top{
    padding-top: 16px;
    line-height: 30px;

}
.footer-box .address .span{
    display: block;
    line-height: 35px;
}
.f-icon-box i{
    font-size: 18px;
    color: var(--white);
    width: 36px;
    height: 36px;
    line-height: 36px;
    background-color: var(--text);
    border-radius: 100%;
    margin: 0 2px;
    transition: all 0.5s;
}
.address-part{
    padding: 10px 0;
}
.f-icon-box{
    width: auto;
    margin: auto;
    margin-top: 16px;
}
.f-icon-box i:hover{
    background-color: var(--head);
}
.links h4,.final-section h4{
    padding-bottom: 2px;
    margin-bottom: 8px;
    font-weight: 600;
}
.links ul li a{
    display: block;
    color: var(--white);
    font-size: 14px;
    font-family: 'Open Sans';
    padding: 10px 0;
    transition: all 0.5s;
}
.links ul li a i{
    font-size: 12px;
    padding-right: 5px;
    color: #b5d9e9;
}
.links ul li:hover a{
    color: #a2cfe3;
}
.final-section p{
    padding: 10px 0 16px 0;
}
.padding-12{
    padding: 0 12px;
}
.final-section .footer-input{
    padding: 15px 35px;
    border: none;
}
.final-section .footer-btn{
    border: none;
    display: inline-block;
    background-color: var(--head);
    color: var(--white);
    padding: 15px 20px;
    font-size: 16px;
}
.final-section form{
    margin-top: 30px;
}
.f-part-1{
    border-bottom: 2px solid var(--text);
    padding: 60px 0 0;
}
.f-part-2{
    padding: 30px 0 30px 0;
}
.copyright p{
    font-weight: 400;
}
.copyright span{
    font-weight: 600;
}
.designer{
    padding: 10px 0 0;
    font-size: 13px;
}
.designer a{
    font-size: 14px;
    /* font-weight: 00; */
}